<div class="sidebar">
  <ul class="nav flex-column">
    @if (esDueno()) {
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sucursales" routerLinkActive="active">
        <i class="bi bi-building me-2"></i> Sucursales
      </a>
    </li>
    }
    @if (esGerente()) {
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard-gerente" routerLinkActive="active">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
      </a>
    </li>
    }
    <li class="nav-item">
      <a class="nav-link" routerLink="/productos" routerLinkActive="active">
        <i class="bi bi-box-seam me-2"></i> Productos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inventario" routerLinkActive="active">
        <i class="bi bi-clipboard-data me-2"></i> Inventario
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transacciones" routerLinkActive="active">
        <i class="bi bi-cash-stack me-2"></i> Transacciones
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/gastos" routerLinkActive="active">
        <i class="bi bi-wallet2 me-2"></i> Gastos
      </a>
    </li>
    @if (esDueno()) {
    <hr>
    <li class="nav-item">
      <a class="nav-link" routerLink="/suscripcion" routerLinkActive="active">
        <i class="bi bi-credit-card me-2"></i> Suscripción
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/codigos" routerLinkActive="active">
        <i class="bi bi-key me-2"></i> Códigos
      </a>
    </li>
    }
  </ul>
</div>