<div class="sidebar">

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link active">
        <i class="bi bi-speedometer2 me-2"></i>
        Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-building me-2"></i>
        Sucursales
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-box-seam me-2"></i>
        Productos
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-clipboard-data me-2"></i>
        Inventario
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-cash-stack me-2"></i>
        Transacciones
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-wallet2 me-2"></i>
        Gastos
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-truck me-2"></i>
        Proveedores
      </a>
    </li>

    <hr>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-robot me-2"></i>
        Reportes IA
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-journal-text me-2"></i>
        Auditoría
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-credit-card me-2"></i>
        Suscripción
      </a>
    </li>

  </ul>

</div>