@use '../../styles/variables' as *;
.container {
  max-width: 1100px;
}

h2,
h3,
h4,
h5 {
  font-weight: 600;
}

.text-muted {
  color: $text-secondary !important;
}

// CARDS
.card {
  border: none;
  border-radius: 16px;
  background: $card-bg;
}

.shadow,
.shadow-lg {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08) !important;
}

// PLANES
.plan-card {
  transition: 0.25s ease;
}

.plan-card:hover {
  transform: translateY(-4px);
}

.plan-card.pro {
  border: 2px solid $secondary;
}

.plan-badge {
  background: $secondary;
  color: white;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 0.75rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1rem;
}

.list-group-item {
  border: none;
  padding: 0.75rem;
  color: $text-primary;
}

// HEADERS
.card-header {
  background: $primary;
  color: white;
  border: none;
}

.card-header h4,
.card-header h5 {
  color: white;
}

// FORMULARIOS
.form-control {
  border-radius: 10px;
  border: 1px solid #dbe2ea;
}

.form-control:focus {
  border-color: $primary;
  box-shadow: none;
}

.form-label {
  font-weight: 500;
  color: $text-primary;
}

// TARJETA MP
.bg-dark {
  background: linear-gradient(
    135deg,
    $primary,
    $dark
  ) !important;

  border-radius: 16px;
}

.bg-dark h3 {
  letter-spacing: 2px;
  font-family: monospace;
}
.bg-dark h3, .bg-dark h5{
    color: $light !important;
}


// SUSCRIPCION ACTIVA
.suscripcion-activa {
  border-left: 5px solid $success;
}

.success-icon {
  color: $success;
}

.badge.bg-success {
  background: $success !important;
}


// ALERTAS
.alert-info {
  background: rgba($info, 0.08);
  border: 1px solid rgba($info, 0.15);
  color: $dark;
  border-radius: 12px;
}

// BOTONES
.btn-primary {
  background: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  opacity: 0.95;
}

.btn-success {
  background: $success;
  border-color: $success;
}

.btn {
  border-radius: 10px;
  font-weight: 500;
}